<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h2>AI Interview</h2>

    <div class="card">
        <p><b>AI:</b> Tell me about your skills and experience</p>

        <video id="preview" autoplay width="300"></video><br><br>

        <button onclick="startRecording()">Start</button>
        <button onclick="stopRecording()">Stop</button>
    </div>

    <h3>Your Results</h3>

    {% for c in data %}
    <div class="result">
        <p><b>Skill:</b> {{ c.skill_score }}</p>
        <p><b>Status:</b> {{ c.status }}</p>
    </div>
    {% endfor %}

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>