<!DOCTYPE html>
<html>
<head>
    <title>AI SkillFit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="header">
    <h1>AI SkillFit</h1>
    <p>AI Based Interview Skill Evaluation System</p>
</div>

<div class="container">
    <h2>Welcome</h2>
    <p>Please login or create an account</p>

    <div class="buttons">
        <a href="/signup" class="btn signup-btn">Sign Up</a>
        <a href="/login" class="btn login-btn">Login</a>
    </div>
</div>

</body>
</html>